.image-list li {
  margin: 10px 5px;
  padding: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none !important;
}

  .image-list li.selected {
    border: 3px solid #3388DD !important;
  }

    .image-list img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }

    .image-list li.selected img {
      width: 94px;
      height: 94px;
      border: 2px solid #FFF;
    }
